echo 'updating aliases...'
alias rc='java -cp /workspace/vedenemo/vedenemo.cli/target/vedenemo.cli-1.0-SNAPSHOT.jar:/workspace/vedenemo/vedenemo.core/target/vedenemo.core-1.0-SNAPSHOT.jar com.vedenemo.cli.VedenemoCli'
alias bld='cd /workspace/vedenemo && cd vedenemo.core && mvn install -DskipTests && cd ../vedenemo.cli && mvn install  -DskipTests && cd /workspace/vedenemo'
alias so='source /workspace/vedenemo/.aliases'

