echo 'updating aliases...'
alias runcli='java -jar vedenemo.cli/target/vedenemo.cli-1.0-SNAPSHOT.jar'
alias build='cd /workspace/vedenemo && cd vedenemo.core && mvn install -DskipTests && cd ../vedenemo.cli && mvn install  -DskipTests && java -cp /workspace/vedenemo/vedenemo.core/target/vedenemo.core-1.0-SNAPSHOT.jar -jar /workspace/vedenemo/vedenemo.cli/target/vedenemo.cli-1.0-SNAPSHOT.jar && cd /workspace/vedenemo'
alias so='source /workspace/vedenemo/.aliases'

